{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text">
                        <h1>400 Error. Nope.</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--encryption">
        <div class="column">
            <div class="container">
                <div class="card card__large shadow__medium">
                    <div class="flex flex--column full-width">
                        <h2>Bad request, my dudes</h2>
                        <p>Either <em>you</em> did something wrong or <em>I</em> did something wrong and I just can't
                            believe that I would ever do that.</p>
                        <a class="link--body" href="{{request.META.HTTP_REFERER}}">Go back and try again?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}
