{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text">
                        <h1>403 Forbidden!/h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--encryption">
        <div class="column">
            <div class="container">
                <div class="card card__large shadow__medium">
                    <div class="flex flex--column full-width">
                        <h2>Ah ah ah, you didn't say the magic word</h2>
                        <p>I know, a Dennis Nedry joke on a 403 page, how ORIGINAL. I'm lazy, deal with it.</p>
                        <a class="link--body" href="{{request.META.HTTP_REFERER}}">Clever girl...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}
