{% extends 'base.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text">
                        <div class="flex flex--row space-between align-center">
                            <h1>{{ hero.text }}</h1>
                            <a class="link--header" href="{{ fund.link }}">{{ fund.link }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--fund">
        <div class="column">
            <div class="container">
                <div class="card__large">
                    <div class="card--text">
                        <p class="bold">{{ fund.cause }}</p>
                        <a class="button" target="_blank" href="{{ fund.link }}">Visit</a>
                        <hr/>
                        {{ fund.description|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}