<header class="flex space-between">
    <div class="left">
        <a href="{% url 'home' %}">TOOLS FOR DISSENT</a>
    </div>
    <div class="flex hide-mobile">
        <a href="/articles">Articles</a>
        <a href="{% url 'password_generator' %}">Password Generator</a>
        <a href="{% url 'encrypt_page' %}">Encrypt Text</a>
    </div>

    <div id="mobile-nav" class="mobile--navigation hide shadow__medium">
        <a href="{% url 'home' %}">Home</a>
        <a href="/articles">Articles</a>
        <a href="{% url 'tools' %}">Tools</a>
        <a href="{% url 'funds' %}">Funds</a>
        <a href="{% url 'petitions' %}">Petitions</a>
        <a href="{% url 'password_generator' %}">Password Generator</a>
        <a href="{% url 'encrypt_page' %}">Encrypt Text</a>
    </div>
</header>

<div class="show-mobile mobile--navigation--icons">
    <button class="button mobile--navigation--button" onClick="window.scrollTo({ top: 0, behavior: 'smooth' })">
        <i class="im im-arrow-up"></i>
    </button>
    <a class="button mobile--navigation--button mobile--navigation--articles" href="/articles"><i class="im im-book"></i></a>
    <button id="menu" class="button mobile--navigation--button">Menu</button>
</div>

<script>
    let menu = document.getElementById('menu');
    let mobileMenu = document.querySelector('.mobile--navigation');

    menu.addEventListener('click', () => {
        mobileMenu.classList.toggle('hide');
    });

</script>
