{% extends 'base.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero hero--main hero--index hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text">
                        <h1>{{ data.hero.text }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--tool">
    <div class="container heading">
        <h2>Tools</h2>
    </div>
        <div class="column">
            <div class="container">
                <div class="flex flex--row space-evenly">
                    {% for tool in data.tools %}
                        <div class="card shadow__small">
                        <span class="type__card type--{{ tool.main_type|slugify }}">{{ tool.main_type }}</span>
                            <div class="card--image">
                                <img class="card--image" src="{{ tool.image.url }}" alt="{{ tool.name }} logo"/>
                            </div>
                            <div class="card--text">
                                <h6>{{ tool.name }}</h6>
                                <p>{{ tool.website }}</p>
                                <a class="button" href="{{ tool.get_absolute_url }}" >View</a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="card--end shadow__small flex--column space-around">
                        <a class="link--button" href="{% url 'tools' %}">View All &gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section--funds">
        <div class="container heading">
            <h2>Funds</h2>
        </div>
        <div class="column">
            <div class="container">
                <div class="flex flex--row space-evenly">
            {% if data.funds.length > 0 %}
                {% for fund in data.funds %}
                <div class="card--fund shadow__small flex flex--column space-between">
                        <div>
                            <h6>{{ fund.name }}</h6>
                            <p>{{ fund.description }}</p>
                        </div>
                        <a class="button" target="_blank" href="{{ fund.link }}">Visit</a>
                    </div>
                {% endfor %}
                <div class="card--end shadow__small flex--column space-around">
                    <a class="link--button" href="{% url 'funds' %}">View All &gt;</a>
                </div>
            {% else %}
                <div class="card--fund card--fund--none shadow__small flex flex--row space-around">
                    <div class="flex align-center">
                        <i class="im im-warning"></i>
                    </div>
                    <div>
                        <p>No Funds yet but we're working hard on finding the most important ones we can. Use the
                            form on this page to let us know about any you think are important.</p>
                    </div>
                </div>
            {% endif %}
            </div>
            </div>
        </div>
    </section>

    {% include 'recommend.html' %}
    {% include 'protesting_tips.html' %}
    {% include 'petitions.html' with petitions=data.petitions %}

{#    <div id="roadmap-container"></div>#}

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block scripts %}

{% endblock %}
