{% extends 'base.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text">
                        <div class="flex flex--row align-center">
                            <h1>{{ hero.text }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--petitions-list">
        <div class="column">
            <div class="container card--grid grid grid--4__even">
                {% for petition in petitions %}
                <div class="card card__small shadow__small space-between padding-2">
                    <div class="card--text">
                        <p class="bold">{{ petition.name }}</p>
                        <hr/>
                        {{ petition.description|safe|truncatewords:30 }}
                    </div>
                    <a class="button" target="_blank" href="{{ petition.link }}">Visit</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}