<section class="section--tips">
    <div class="container">
        <div class="">
            <div class="flex flex--column">
                <h2 class="heading">Protesting Tips</h2>
                <p>
                    When going out to protest there are a number of ways in which you can protect yourself. These are guidelines
                     that have been collected from various other sources and brought together and some are general digital
                    security tips.
                </p>
                <p>
                    Links to further resources can be found on the last card of each section.
                </p>
            </div>
        </div>
    </div>
        <div class="column">
        <div class="background__light-grey slant__before">
            <div class="container">
                <h3 class="margin__tb__6 heading">Digital</h3>

                <div class="card--grid grid">
                            <div class="card card__small card__tips shadow__medium">
                                <div>
                                    <h4>1. Take a second private phone if possible</h4>
                                    <p>
                                        If possible, don't take your main smartphone. Have a backup for keeping in touch and recording what
                                        is happening around you. Something without fingerprint ID or Face ID, a solid password or code and as
                                         little personal information about you as possible on it.
                                    </p>
                                </div>
                            </div>
                            <div class="card card__small card__tips shadow__medium">
                                <div>
                                    <h4>2. Remove as many trackers and identifiers as possible</h4>
                                    <p>
                                        If you can't take a second phone, before going to any city or event, ensure that Face ID/Fingerprint ID
                                        is turned OFF. Have a secure password or code. Check your app permissions and stop any 3rd party apps
                                        from accessing your location, microphone, camera or calls. Many apps will log your GPS location in the
                                        background and even if <i>you</i> aren't tracked, this data can be used as metadata on you and collectively
                                         used against other protesters.
                                    </p>
                                </div>
                            </div>
                            <div class="card card__small card__tips shadow__medium">
                                <div>
                                    <h4>3. Use secure and encrypted messaging services</h4>
                                    <p>
                                        Use encrypted messaging services. There are a few mentioned on this site but there are many others. The
                                        most popular and one of the most secure is <a class="link--body__small" href="https://signal.org">Signal</a>
                                        which will override your usual messaging app (even your mobile operating system).
                                    </p>
                                    <p>
                                        If you are <i>really</i>
                                        serious about security, we suggest <a class="link--body__small" href="https://wickr.com">Wickr</a>. It
                                        is a messaging service purely between user apps (much like WhatsApp) so other people will need to install
                                        it as well, but, you can set expiry times for messages, it is completely end-to-end encrypted, isn't tied
                                        to a mobile number and is hosted in Switzerland so there is no chance of it being used against you. You can
                                         also set up 'rooms' for groups of users to talk together and organise.
                                    </p>
                                </div>
                            </div>
                            <div class="card card__small card__tips shadow__medium">
                                <div>
                                    <h4>4. Encrypt your phone</h4>
                                    <p>
                                        If you're an Apple user, good news, you're already set. If you're an Android user, you'll have top turn this
                                         on. Simple go to <strong>Settings</strong> then <strong>Security</strong> and ensure the <strong>Encrypt Disk</strong>
                                        option is turned on.
                                    </p>
                                </div>
                            </div>

                            <div class="card card__small card__tips shadow__medium">
                                <div>
                                    <h4>5. If you take photos or videos, be careful what you upload and where</h4>
                                    <p>
                                        When taking photos or videos of events, be sure to try as much as possible to get wide, high shots. Obscure
                                        peoples faces as much as you can, even if they're protecting their identities themselves. Using social media
                                        to track people is becoming prevalent and many law enforcement agencies will search through social media, especially
                                        specific hashtags and specific events, and use it to trace people themselves.
                                    </p>
                                </div>
                            </div>

                            <div class="card card__small card__tips shadow__medium">
                                <div>
                                    <h4>Further Resources</h4>
                                    <p>
                                        <a class="link--body__inline" href="https://www.wired.com/story/how-to-protest-safely-surveillance-digital-privacy/">Wired - How to protest safely in the age of surveillance</a>
                                    </p>
                                    <p>
                                        <a class="link--body__inline" href="https://lifehacker.com/how-to-protest-safely-and-legally-5859590">Lifehacker - How to protest safely and legally</a>
                                    </p>
                                    <p>
                                        <a class="link--body__inline" href="https://twitter.com/evan_greer/status/1266907715437121536">Evan Greer - A fantastic thread about physical safety and security</a>
                                    </p>
                                </div>
                            </div>


                    </div>
            </div>
        </div>
    </div>
</section>
