{% extends 'base.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text">
                        <div class="flex flex--row align-center">
                            <h1>{{ hero.text|capfirst }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--tools-list">
        <div class="column">
            <div class="container card--grid grid grid--3__even">
                {% for tool in tools %}
                    <div class="card card__small shadow__small space-between padding-2">
                        <div class="card--text">
                            <h6 class="bold">{{ tool.name }}</h6>
                            <img src="{{ tool.image.url }}" alt="{{ tool.name }} Icon" />
                            <hr/>
                            {{ tool.description|safe }}
                        </div>
                        <a class="button" href="{{ tool.slug }}">View tool</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
